.flex-container {
    border: 2px solid black;
}

.flex-row {
    display: flex;
}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#size {
    margin: 16px;
}